body{
	display:flex;
	background:#000;
			justify-content:center;
			margin:0;
	padding:0;

	align-items:center;
	font-family:'Poppins',sans-serif;
}
#block1{
	position:absolute;
	bottom:58%;
		font-family:'Bad Script',cursive;	
				FONT-SIZE:80%;
}
h1{
	margin:0;
	padding:0;
	color:transparent;
	font-size:12em;
}
h1 span{
	display:table-cell;
	animation:animate 1s linear infinite;
}
h1 span:nth-child(9n+1){
	animation-delay:0.5s;
}
h1 span:nth-child(9n+2){
	animation-delay:1.25s;
}
h1 span:nth-child(9n+3){
	animation-delay:2.35s;
}
h1 span:nth-child(9n+4){
	animation-delay:2.75s;
}
h1 span:nth-child(9n+5){
	animation-delay:1s;
}
h1 span:nth-child(9n+6){
	animation-delay:1.35s;
}
@keyframes animate{
	0%,100%{
		color:#fff;
		filter:blur(1px);
		text-shadow:0 0 10px #00b3ff,
		            0 0 20px #00b3ff,
					0 0 40px #00b3ff,
					0 0 80px green,
					0 0 30px green,
					0 0 200px #00b3ff,
					0 0 250px #00b3ff,
					0 0 200px #00b3ff;
	}
}
#block2{
	position:absolute;
	bottom:20%;
		font-family:'Bad Script',cursive;	
				FONT-SIZE:40%;
}